*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x;
}

h2{
	text-transform: uppercase;
	font-size: 1.1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

label{
	display: block;
	cursor: pointer;
}

.clear{
	clear: both;
}

#container{
	width: 750px;
	margin: 0 auto;
}

#topo{
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
}

#topo img{
	padding-top: 10px;
}

#menu{
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-top: 20px;
}
#menu li {
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 18px;
	padding-left: 18px;
	background: #b10333;
	border: 1px solid #DF0101;
	
}
#menu a {
	text-decoration: none;
	color: whitesmoke;
	font-size: 15px;
	/*background: url(../imagens/divisor.png) no-repeat left center;*/ só da par usar imagem se as medidas forem iguais
}

#menu li:hover {
	background-color: #DF0101;
	text-decoration: underline;
}

body.brasil #menu li#brasil,
body.internacional #menu li#internacional,
body.economia #menu li#economia,
body.saude #menu li#saude,
body.ciencia #menu li#ciencia {
	background-color: #DF0101;
}

#conteudo{
	margin-top: 60px;
	background: #f5f5f5;
}

#lateral{
	width: 180px;
	float: left;
	margin: 0px 0px 20px -750px;
}

#primario{
	width: 550px;
	float: left;
	margin: 0px 0px 20px 195px;
}

#container_rodape{
	clear: both;
	background: #294c71;
	padding: 20px;
}

#rodape{
	width: 750px;
	color: white;
	margin: 0 auto;
}

.caixa{
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
	margin: 10px 0px;
	padding: 5px;
}

.caixa_conteudo{
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}

.submit{
	color: white;
	background: #b10333;
	padding: 2px 5px;
}

#lateral .caixa_conteudo a{
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bolder;
	color: black;
	padding: 5px;
	border-bottom: 1px solid gray;
}

#lateral .caixa_conteudo .ultimo{
	border: none;
}
#lateral .caixa_conteudo a:hover {
	color: dimgray;
	background: url(../imagens/marcador.png) no-repeat left center;
	padding-left: 18px;
}

#lateral .caixa_conteudo input[type="text"]{
	display: block;
	height: 25px;
	width: 145px;
}

.caixa_conteudo h4{
	background: #b10333;
	color: #fff;
	padding: 2px;
}

.caixa_conteudo h4:hover {
	color: black;
}

#primario .caixa_conteudo img{
	padding-top: 4px;
	width: 100%;
}

#primario .caixa_conteudo p{
	width: 90%;
	font-weight: bolder;
	font-size: 15px;
}

#primario .caixa_conteudo a{
	color: #b10333;
}

.mini{
	border-bottom: 1px solid gray;
}

#primario .mini img{
	float: left;
	width: 20%;
	padding-right: 5px;
	margin-bottom: 8px;
}

#primario .mini a {
	float: left;
	padding-left: 2px;
	padding-right: 250px;/*gambisarra*/
	padding-bottom: 3px;
	font-size: 15px;
	text-decoration: none;
	color: darkblue;
}

#primario .mini p {
	font-size: 13px;
}

